#container {
  position: relative;
}
header {
  position: fixed;
  width: min(45rem, 90%);
  background-color: var(--bg);
}
header nav {
  padding: .2rem 0;
  overflow-x: auto;
  white-space: nowrap;
}
header ~ hr {
  margin-top: 45px;
  position: fixed;
  width: 100%;
  left: 0;
}

main {
  padding-top: 50px;
  height: calc(100vh - 50px);
  overflow-y: auto;
}
